/* Movie Time CSS Start */

.tickets-container {
    max-width: 90%;
    background-color: var(--dark-red);
    margin: 0 auto 1.2rem;
    padding-bottom: 0.3rem;
}

.tickets-top-border {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--red);
    padding: 0 2vw;
}

.tickets-top-border i {
    font-size: 2rem;
    color: var(--yeallow);
    padding: 0 3vw;
}

.ticket-dates {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
    width: 90%;
    margin: 0 auto 1rem;
}

.ticket-dates p {
    padding: 0 5vw;
}

.booking-date {
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin: 1rem;
    font-family: "Brawler", serif;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 4px var(--orange);
}

.booking-date.active {
    background-color: var(--orange);
}

@media screen and (min-width: 768px) {
    .booking-container {
        display: flex;
        margin: 5rem 5rem;
        justify-content: space-between;
        align-items: center;
    }

    .tickets-container {
        margin: 1px;
        width: 40%;
        /* margin: 0; */
        height: 65vh;
        /* padding-bottom: 0.3rem; */
        overflow: hidden;
    }
    
    .tickets-top-border {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2.5vw;
    }
    
    .tickets-top-border i {
        font-size: 2.5rem;
        padding: 0;
    }
    
    .ticket-dates {
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.25);
        width: 90%;
        margin: 0 auto 1rem;
    }

    .booking-date {
        cursor: pointer;
    }
    
    .booking-date:hover {
        transform: scale(1.1);
        background-color: var(--yeallow);
        transition: 0.3s;

    }

    .ticket-dates p {
        padding: 0 1.5vw 0 1.5vw;
        font-size: 1.2vw;
    }

    .tickets-top-border h3 {
        margin: 1rem 0 1rem 0;
    }
}


/* Movie Seats CSS Start */
*{
    box-sizing: border-box;
}


.booking {
    background-color: var(--dark-red);
    display: flex;
    flex-direction: column;
    color: var(--yeallow);
    align-items: center;
    justify-content: center;
    height: 62vh;
    margin: 1.5rem;
}


.seat {
    background-color: var(--primary-bg-color);
    box-shadow: 0 1px 4px;
    height: 1.7rem;
    width: 1.5rem;
    margin: 0.2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: all 0.2s ease;
}


.seat.selectedseat {
    background-color: var(--orange);
}

.seat.occupiedseat {
    background-color: var(--light-gray);
}

.row {
    display: flex;
}

.seat:nth-of-type(2) {
    margin-right: 2rem;
}

.seat:nth-last-of-type(2) {
    margin-left: 2rem;
}

.seat:not(.occupiedseat):hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: var(--yeallow);
}

.seats .seat:not(.occupiedseat):hover {
    cursor:default;
    transform: scale(1);
}

.seats {
    background-color: var(--primary-bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--yeallow);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.seats li {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.seats li small {
    margin-left: 10px;
}

.screen {
    background-color: #000000;
    height:90px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 6px 25px;
}

.theatre {
    perspective: 900px;
    margin-bottom: 30px;
}

p.text {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}
p.text span {
    color: var(--light-gray)
}

.button-section {
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin: 1rem;
    font-family: "Brawler", serif;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 4px var(--orange);
}

@media (min-width: 768px) {
    .booking {
        padding: 4rem;
        width: 50vw;
        margin: 0;
        height: 65vh;
    }
    
    .theatre {
        max-width: 600px;
        margin: 20px auto;
    }

    .row {
        justify-content: center;
        gap: 0.4rem;
    }

    .seat {
        width: 1.8rem;
        height: 2rem;
        margin: 0.2rem;
    }

    .seats {
        margin-bottom: 20px;
        justify-content: space-around;
    }

    p.text {
        font-size: 1.1rem;
    }

    .button-section {
        cursor: pointer;
    }

    .button-section:hover {
        transform: scale(1.1);
        background-color: var(--yeallow);
        transition: 0.3s;

    }

}