

.boxfooter {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
   gap:30px;
   padding:2.5rem 3.75rem;
   padding-bottom: 5rem;
   background-color:var(--red);
   color: var(--yeallow);
}

.boxfooter .box1,
.boxfooter .box3,
.boxfooter .box4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.boxfooter .box1 h3,
.boxfooter .box3 h3,
.boxfooter .box4 h3 {
    margin: 0 0 0.5rem 0; 
    padding: 0;
}

.boxfooter .box1 ul,
.boxfooter .box3 ul,
.boxfooter .box4 ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.box a {
  color: #ffd700;
  text-decoration: none;
}

.box2 img {
  max-width: 100%;
  height: auto;
}

.box4 ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0%;
  margin:0%;
}

.box h4 {
    margin-bottom: 10px;
}

.box4 img {
    width: 2rem;
    height: auto;
}

.box4 li {
    display: flex;
    align-items: center;
    gap:5px;
    list-style: none;;
}

.box2 {
    grid-column:  1 / -1;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-top: 1rem;;
}

.box2 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: none;
}

.logo-line {
    width: 100%;
    height: 1px;
    background-color: var(--yeallow); 
    margin-top: 0.8rem;
}

.copyright {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: var(--yeallow);
    font-family: "Brawler", serif;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    width: 100%;                   
    max-width: 600px;                
    margin-top: 0.5rem;
    font-family: "Brawler", serif;
    color: var(--yeallow);
    font-size: 0.7rem;             
}

.footer-info p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
}


@media screen and (min-width: 950px){
    


    .boxfooter {
        display: grid;                
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between; 
        gap: 40px;           
        padding: 40px 60px;
    }

    .boxfooter > .box2 {
        grid-column: 1 / -1; 
        justify-self: center; 
        margin-top: 1rem;              
    }
    
    .footer-info {
        width: 100%;               
        max-width: 100%;         
        justify-content: space-between; 
        padding: 0 20px;          
    }
}


/*/.moving-image {
  position: relative;
  animation: moveRight 10s linear infinite;
  height: 100px;
  width: 100px;
}

@keyframes moveRight {
  0% {
    left: -10px;
    transform: rotate(0deg);
  }
  100% {
    left: 100%;
    transform: rotate(365deg);
  }
    
}/*/