.tickets-container {
    max-width: 90%;
    background-color: var(--dark-red);
    margin: 0 auto 1.2rem;
    padding-bottom: 0.3rem;
}

.tickets-top-border {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--red);
    padding: 0 2vw;
}

.tickets-top-border i {
    font-size: 2rem;
    color: var(--yeallow);
    padding: 0 3vw;
}

.ticket-dates {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
    width: 90%;
    margin: 0 auto 1rem;
}

.ticket-dates p {
    padding: 0 5vw;
}

@media screen and (min-width: 900px) {
    .tickets-container {
        max-width: 40%;
        background-color: var(--dark-red);
        margin: 5rem 5rem;
        /* padding-bottom: 0.3rem; */
    }
    
    .tickets-top-border {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--red);
        padding: 0 2.5vw;
    }
    
    .tickets-top-border i {
        font-size: 2.5rem;
        color: var(--yeallow);
        padding: 0;
    }
    
    .ticket-dates {
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.25);
        width: 90%;
        margin: 0 auto 1rem;
    }
    
    .ticket-dates p {
        padding: 1vw;
        font-size: 1.5vw;
    }

    .tickets-top-border h3 {
        margin: 1rem 0 1rem 0;
    }
}