.offer-sticker img {
    width: 200px;
    height: auto;
}

.halloween-offer {
    padding: 16px;
    text-align: center;
}

.offer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.offer-text {
    margin-top: 16px;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
}

.newsletter {
    background-color: var(--red);
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

 .newsletter h3 {
        font-size: 2.5rem;
    }

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.newsletter .form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25rem;
    
}

.newsletter input {
    width: 100%;
    padding: 0.3rem;
    border: none;
    border-radius: 3px;
}

.newsletter button {
    margin-top: 0.5rem;
    padding:0.4rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


@media screen and (min-width: 950px){

    .offer-header {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }

    .newsletter  {
        margin: 3rem;
        border-radius: 25px;
        font-size: 1rem;
       
    }

    .newsletter .form-row {
        width: 35rem;
    } 

    .offer-sticker img {
        width: 300px;
    }

}