:root {
    --primary-bg-color: #1F2536;
    --red: #971818;
    --dark-green: #374A04;
    --yeallow: #FFDD00;
    --orange: #FF9D00;
    --black: #000000;
    --dark-gray: #A7A7A7;
    --light-gray: #E3E7F2;
}
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-bg-color);
}

h2 {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--yeallow);
}

h3 {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin: 1rem;
    color: var(--yeallow);
}

p {
    font-family: "Brawler", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: var(--yeallow);
}

p.thick {
    font-weight: 700; /* Bold */
}

a {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: var(--yeallow);
    font-size: 1.5rem;
}

ul, nav {
    list-style-type: none;
    display: none;
}

header {
    background-color: var(--red);
    box-shadow: 0 2px 2px #0000005a;
    height: 15vh;
    padding-top: 2rem;
    text-align: center;    
}

.logo img {
    width: 316px;
    height: 121px;
}
.hero-container{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.hero-image{
    width: 100%;
}
.movies-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2);
    row-gap: 1rem;
}
.movie-container{
    position: relative;
    object-fit: contain;
}
.movies-container :nth-last-child(5){
    display: none;
}
.movieroll{
    width: 100%;
}
.poster, .title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.poster{
    width: 80%;
    height: 68%;
    top: 10%;
    z-index: -2;
}
.hidden-info{
    position: absolute;
    left: 12%;
    top: 10.5%;
    opacity: 0;
    width: 65%;
    height: 61%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.3em;
}
.read-more{
    text-decoration: underline;
    font-family: "Brawler" serif;
}

.title{
    z-index: 1;
    text-align: center;
    bottom: 7%;
    width: 80%;
}

.see-more{
    margin: 1rem;
    font-family: "Brawler", serif;
    font-size: 1.2rem;
    text-decoration: underline;
}

/*Movie page style*/

.picture-wrapper{
    display: flex;
    overflow: auto;
	white-space: nowrap;
}

::-webkit-scrollbar{
	display: none;
}

.picture-containers{
    height: 200px;
    object-fit:scale-down;
}
.picture{
    height: 100%;
}

.actor-list, .actor{
    display: block;
    color: var(--yeallow);
}


@media screen and (min-width: 600px) {
    .logo img {
        width: 490px;
        height: 136px;
    }
    header {
        width: auto;
        height: 200px;
    }
    .movies-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 1rem;
    }
    .see-more{
        align-self: flex-end;
    }
    .movies-container :nth-last-child(5){
        display: block;
    }
    .hidden-info:hover {
        opacity: 1;
        visibility: visible;
        transition: opacity ease 0.3s;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(5px);
        border-radius: 0.5em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }


}

