:root {
    --primary-bg-color: #1F2536;
    --red: #971818;
    --dark-red: #6E1E1E;
    --dark-green: #374A04;
    --yeallow: #FFDD00;
    --orange: #FF9D00;
    --black: #000000;
    --dark-gray: #A7A7A7;
    --light-gray: #E3E7F2;
}

body {
    margin: 0;
    background-color: var(--primary-bg-color);
    box-sizing: border-box;
    overflow-x: hidden;
}

h2 {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

p {
    font-family: "Brawler", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

p.thick {
    font-weight: 700; /* Bold */
    margin: 0;
}

a {
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: var(--yeallow);
    font-size: 1.5rem;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}


/* ---- Hero Image ---- */
.heroimage img {
    position: relative;
    max-width: 100%;
    height: auto;
}